# Python
__pycache__/
*.py[cod]
*.pyo
*.egg
*.egg-info/
dist/
build/
.eggs/
*.so

# Virtual environments
.venv/
venv/
env/
ENV/

# Environment variables
.env

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Coverage / Testing
.coverage
htmlcov/
.tox/
.pytest_cache/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Render / Build artifacts
*.pyc
